
.body_backgorund {
	background-image: url("bg1.jpg");
	background-position: center;
	background-size: cover;
}

h1
{
	color:white; 
	font-size: 40px;
}

#myCanvas {
border-width: 20px;
border-style: outset;
background-color: white;
}


